<div class="card text-white bg-{{bgClass}}">
	<div class="card-body">
		<div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div [ngStyle]="{'height':'4em'}">
                    <h1 *ngIf="count">
                        {{count}}
                    </h1>
                    <h1 *ngIf="!count" >
                        <app-loading-spinner></app-loading-spinner>
                    </h1>
                </div>
                <h5 class="nowrap">{{label}}</h5>
            </div>
        </div>
	</div>
</div>
