<h2 class="text-muted">MIP <small>Portal Informacji Zarządczej</small></h2>
<hr/>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <div class="row" *ngIf="raportyKategorie; else spinCount">
                <div class="col-lg-4 col-md-6">
                    <a [routerLink]="['/raporty',{'kat':[1,2]}]" (click)="linkClicked()">
                        <app-stat [bgClass]="'bpred'" [icon]="'fa-briefcase'" [count]="countRaportsWithCategory([1])" [label]="'Raporty biznesowe'" ></app-stat>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a [routerLink]="['/raporty',{'kat':[2]}]">
                        <app-stat [bgClass]="'bpred'" [icon]="'fa-money'" [count]="countRaportsWithCategory([2])" [label]="'Raporty finansowe'" ></app-stat>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a [routerLink]="['/raporty',{'kat':[99]}]">
                        <app-stat [bgClass]="'bpred'" [icon]="'fa-cog'" [count]="countRaportsWithCategory([99])" [label]="'Raporty operacyjne'" ></app-stat>
                    </a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
<hr />

<ng-template #spinCount>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a [routerLink]="['/raporty',{'kat':[1,2]}]" (click)="linkClicked()">
                <app-stat [bgClass]="'bpred'" [icon]="'fa-briefcase'" [label]="'Raporty biznesowe'" ></app-stat>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a [routerLink]="['/raporty',{'kat':[2]}]">
                <app-stat [bgClass]="'bpred'" [icon]="'fa-money'" [label]="'Raporty finansowe'" ></app-stat>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a [routerLink]="['/raporty',{'kat':[99]}]">
                <app-stat [bgClass]="'bpred'" [icon]="'fa-cog'" [label]="'Raporty operacyjne'" ></app-stat>
            </a>
        </div>
    </div>
</ng-template>
