$spinkit-spinner-margin: 8px auto !default;
$spinkit-size: 44px !default;
$spinkit-inner-size: 40px !default;
$spinkit-spinner-color: #EAF0F2 !default;

.lds-dual-ring {
  display: inline-block;
  width: $spinkit-size;
  height: $spinkit-size;
  // overflow: hidden;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: $spinkit-inner-size;
  height: $spinkit-inner-size;
  margin: $spinkit-spinner-margin;
  border-radius: 50%;
  border: 4px solid $spinkit-spinner-color;
  border-color: $spinkit-spinner-color transparent $spinkit-spinner-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}